{
    "sourceType": "module",
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "esmodules": true
            },
            "bugfixes": true,
            "modules": false
        }],
        "@babel/preset-typescript"
    ]
}
